@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
    ViewBag.Title = "Music Store - магазин музыкальных инструментов";
}

@*<h2>Добро пожаловать в наш магазин!</h2>*@
    @*<script>onclick()</script>*@
<style>
        .form { /*position: absolute;*/ left: 50%; width: 470px; margin-top: 20px;/*margin-left: -235px;*/ background: #888; border-radius: 5px; top: 20px; }
        form { background: #fff; border-radius: 2px;  margin: 5px;  }
        .data { border-top: 1px solid #d5d5d5; padding: 10px 15px; }
        .data div { margin: 8px 0; }
        h3 { padding: 10px 15px; margin: 0; }
        label { min-width: 100px; display: block; float: left; }
        input[type="submit"] { margin-top: 10px; }
</style>

<div class="form">
    @using(Html.BeginForm())
    {
        @*<form id="form1" runat="server" enctype="multipart/form-data" method="post">*@
            <h2>Данные заказчика</h2>
            <div class="data">
                <div>
                    <label>Имя</label>
                    <input name="name" />
                </div>
                <div>
                    <label>Email</label>
                    <input name="email" />
                </div>
                <div>
                    <label>Возраст</label>
                    <input name="age" />
                </div>
                <div>
                    <label>Фото</label>
                    <input type="file" name="photo" />
                </div>
                <input type="submit" value="Вставить в БД"/>
                @Html.ActionLink("SomeMethod", "SomeMethod");
            </div>
        @*</form>*@
    }
    </div>

@section Basket {
    <a href="#"><img id="idBasket" src="~/Content/images/basket.png"/></a>
                У вас @ViewBag.Count заказов <br /> на сумму @ViewBag.Sum р. <br />
                <a href="#">Перейти в корзину</a>
    }
